[submodule "vendor/GLFW/GLFW"]
	path = vendor/GLFW/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm/glm"]
	path = vendor/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/tracy/tracy"]
	path = vendor/tracy/tracy
	url = https://github.com/Ggjorven/tracy.git
[submodule "vendor/Nano/Nano"]
	path = vendor/Nano/Nano
	url = https://github.com/Ggjorven/Nano.git
